<div id="banner-area" class="banner-area" style="background-image: url(<%= asset_path 'banner/banner-img1.jpg' %>)" data-hover-only="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="banner-title">Why start early ?</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>learn coding</li>
                </ol> <!-- Ol End -->
            </div> <!-- Col End -->
        </div> <!-- Row End -->
        <div class="banner-img" id="scene" data-relative-input="true">
            <img data-depth="0.5" src="<%= asset_path 'banner-pattern.png'%>" alt="" class="img-fluid" id="banner-pattern">
        </div><!-- Banner Img end -->
    </div> <!-- Container end -->
</div>
<!-- what is coding Area Start -->
<section id="tl-about" class="tl-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="column-title wow fadeIn" data-wow-delay=".1s">
                    Why start early ?
                </h2>
                <div class="about-content">
                    <p class="wow fadeIn">Learning to code is a skill that is not determined by age. You can learn it as a kid or you can learn it as an adult. The modern age would demand employees to be smart with very high analytical and logical ability skills. With the onset of Machine learning and AI, many jobs around the world would fall prey to modern machines and all new jobs would need specific Technical or analytical skills.<br><br>
                        It is therefore need of the hour to train our younger generation into Coding to ensure they possess high analytical ability and programming skills.<br><br>
                        Coding Blocks Jr has Coding courses for School students which are absolutely free and provide a certificate of completion. Our courses are offered in Block / Visual programming, Python, Web development, Robotics and Data science for School kids in Grade 2 to Grade 12. So, join us on Youtube to embark on this journey of learning to code with Coding Blocks Jr</p>
                    <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="btn btn-outline-primary" style="margin-bottom:30px">Visit our Youtube channel</a>
                </div> <!-- About Content end -->
            </div> <!-- Col end -->
            <div class="col-lg-4 wow fadeInRight">
                <div class="about-event">
                    <h2 class="event-title">Upcoming Events</h2>
                    <div class="event-box-wrapper">
                        <div class="event-time">
                            <span class="event-date">1</span>
                            <span class="event-month">Aug</span>
                        </div> <!-- Event Time End -->
                        <div class="event-info">
                            <h5 class="event-name">Web Dev course launch</h5>
                            <div class="event-location">
                                <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                            </div> <!-- Event Location end -->
                            <p class="event-desc">We launch our Free Web development course for School students</p>
                        </div> <!-- Event Info end -->
                    </div> <!-- Event Box End -->
                    <div class="event-box-wrapper">
                        <div class="event-time">
                            <span class="event-date">22</span>
                            <span class="event-month">Aug</span>
                        </div> <!-- Event Time End -->
                        <div class="event-info">
                            <h5 class="event-name">Robotics course launch</h5>
                            <div class="event-location">
                                <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                            </div> <!-- Event Location end -->
                            <p class="event-desc">We launch our Free Robotics course for School students</p>
                        </div> <!-- Event Info end -->
                    </div> <!-- Event Box End -->
                    <div class="event-box-wrapper">
                        <div class="event-time">
                            <span class="event-date">01</span>
                            <span class="event-month">Sep</span>
                        </div> <!-- Event Time End -->
                        <div class="event-info">
                            <h5 class="event-name">Data science course launch</h5>
                            <div class="event-location">
                                <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                            </div> <!-- Event Location end -->
                            <p class="event-desc">We launch our Free Data science course for School students</p>
                        </div> <!-- Event Info end -->
                    </div> <!-- Event Box End -->
                </div> <!-- About Event End -->
            </div><!-- Col End -->
        </div> <!-- Row End -->
    </div> <!-- Container end -->
</section>
<!-- what is coding Area End -->
<!-- Intro Area Start -->
<section id="tl-intro" class="tl-intro bg-solid">
    <div class="container">
        <h2 class="column-title wow fadeIn" data-wow-delay=".1s" align="centre">
            Get on your Learning path
        </h2>
        <div class="row no-gutters">
            <div class="col-lg-4 wow zoomIn" data-wow-delay=".1s">
                <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-yellow">
                    <span class="intro-icon">
                        <i class="fa fa-calendar"></i>
                    </span> <!-- Intro Icon End -->
                    <div class="intro-content">
                        <h6 class="intro-title">Visit our Youtube channel</h6>
                        <p>Youtube is the place where we launch and teach our courses. Click here to go to our Youtube channel</p>
                    </div> <!-- Intro Content end -->
                </a> <!-- Intro Wrapper end -->
            </div> <!-- Col End -->
            <div class="col-lg-4 wow zoomIn" data-wow-delay=".3s">
                <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-green">
                    <span class="intro-icon">
                        <i class="fa fa-bell"></i>
                    </span> <!-- Intro Icon End -->
                    <div class="intro-content">
                        <h6 class="intro-title">Choose your course</h6>
                        <p>Choose from a variety of courses on Block programming, Python, Web dev, App dev and Robotics.</p>
                    </div> <!-- Intro Content end -->
                </a> <!-- Intro Wrapper end -->
            </div> <!-- Col End -->
            <div class="col-lg-4 wow zoomIn" data-wow-delay=".5s">
                <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-orange">
                    <span class="intro-icon">
                        <i class="fa fa-weibo
"></i>
                    </span> <!-- Intro Icon End -->
                    <div class="intro-content">
                        <h6 class="intro-title">Subscribe and proceed</h6>
                        <p>Just subscribe to our channel and proceed towards learning and accomplishment</p>
                    </div> <!-- Intro Content end -->
                </a> <!-- Intro Wrapper end -->
            </div> <!-- Col End -->
        </div> <!-- Row End -->
    </div> <!-- Container end -->
</section>
<!-- Intro Area End -->
<!-- Course Start -->
<section id="main-container" class="main-container">
    <div id="tl-courses" class="tl-courses">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="column-title">
                        Our Courses
                    </h2>
                </div> <!-- COl End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid service-wrapper">
                        <div class="element-item service-items web-design">
                            <div class="course-img">
                                <img src="<%=asset_path 'course/vp_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                <span class="service-tag"><span class="tag-name">New</span></span>
                            </div> <!-- Course Img end -->
                            <div class="course-details">
                                <a href="/block-programming">
                                    <h6>Block programming course for School students</h6>
                                </a>
                                <p class="course-mentor"><span class="courseMentor">Kashavi & Vasundara</span></p>
                                <p class="course-price coursePrice">FREE</p>
                            </div> <!-- Course details end -->
                        </div><!-- Service Items End -->
                        <div class="element-item service-items ui-design">
                            <div class="course-img">
                                <img src="<%=asset_path 'course/pp_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                <span class="service-tag"><span class="tag-name">New</span></span>
                            </div> <!-- Course Img end -->
                            <div class="course-details">
                                <a href="/python-programming">
                                    <h6>Python programming course for School students</h6>
                                </a>
                                <p class="course-mentor"><span class="courseMentor">Manmohan Gupta & Rahul</span></p>
                                <p class="course-price coursePrice">FREE</p>
                            </div> <!-- Course details end -->
                        </div><!-- Service Items End -->
                        <div class="element-item service-items creative">
                            <div class="course-img">
                                <img src="<%=asset_path 'course/wd_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                            </div> <!-- Course Img end -->
                            <div class="course-details">
                                <a href="webdev-jr.html">
                                    <h6>Web Development Jr course for School students</h6>
                                </a>
                                <p class="course-mentor"><span class="courseMentor">Sanjeet and Mosina</span></p>
                                <p class="course-price coursePrice">FREE</p>
                            </div> <!-- Course details end -->
                        </div><!-- Service Items End -->
                    </div> <!-- Service Wrapper End -->
                </div> <!-- COl end -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </div> <!-- Course end -->
</section>
<!-- Course End -->