<div id="banner-area" class="banner-area" style="background-image: url(<%= asset_path 'banner/banner-img1.jpg' %>)" data-hover-only="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="banner-title">What is Coding ?</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>learn coding</li>
                </ol> <!-- Ol End -->
            </div> <!-- Col End -->
        </div> <!-- Row End -->
        <div class="banner-img" id="scene" data-relative-input="true">
            <img data-depth="0.5" src="<%= asset_path 'banner-pattern.png'%>" alt="" class="img-fluid" id="banner-pattern">
        </div><!-- Banner Img end -->
    </div> <!-- Container end -->
</div>
<!-- what is coding Area Start -->
<section id="tl-about" class="tl-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="column-title wow fadeIn" data-wow-delay=".1s">
                    What is Coding ?
                </h2>
                <div class="about-content">
                    <p class="wow fadeIn">Coding is the most in-demand skill of the 21st century. People known to possess this skill command the world and are often more successful than their peers. Many people think Coding can be mastered only by geniuses who have some supernatural intelligence levels but let us tell you, “You don’t need to be a genius to learn how to code. Only determination is required”.<br> <br>
                        We at Coding Blocks Jr strongly believe that with the right guidance and perfect determination, any student willing to learn programming can become a master of coding. All the Team members at Coding Blocks Jr are aces of their respective fields and they share the hightest level of commitment towards Quality teaching, student success and satisfaction. The present structure of computer education in the country is not aligned to equipping students with Coding at an early age. Students have no place to go and learn coding without spending hefty amount of money. It was this realization that prompted us to address this very real need of the student community. Coding Blocks Jr has been started as a learning center where we will teach Coding to School students without any fee. The courses here are designed to help students learn coding and enhance their skills in IT.<br> <br>
                        At Coding Blocks Jr, all our instructors are themselves great coders and highly employable in the industry. They decided to join Coding Blocks Jr instead of joining the industry because they are passionate about teaching and strongly believe in the company's vision. So, whether you are a student starting Class II or a student completing your Class XII, we have got a Coding course for you and we are going to teach you free.<br> <br>
                        We would like to welcome you to join Coding Blocks Jr and learn Coding with us. </p>
                    <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="btn btn-outline-primary" style="margin-bottom:30px">Visit our Youtube channel</a>
                </div> <!-- About Content end -->
            </div> <!-- Col end -->
            <div class="col-lg-4 wow fadeInRight">
                <div class="about-event">
                    <h2 class="event-title">Upcoming Events</h2>
                    <div class="event-box-wrapper">
                        <div class="event-time">
                            <span class="event-date">1</span>
                            <span class="event-month">Aug</span>
                        </div> <!-- Event Time End -->
                        <div class="event-info">
                            <h5 class="event-name">Web Dev course launch</h5>
                            <div class="event-location">
                                <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                            </div> <!-- Event Location end -->
                            <p class="event-desc">We launch our Free Web development course for School students</p>
                        </div> <!-- Event Info end -->
                    </div> <!-- Event Box End -->
                    <div class="event-box-wrapper">
                        <div class="event-time">
                            <span class="event-date">22</span>
                            <span class="event-month">Aug</span>
                        </div> <!-- Event Time End -->
                        <div class="event-info">
                            <h5 class="event-name">Robotics course launch</h5>
                            <div class="event-location">
                                <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                            </div> <!-- Event Location end -->
                            <p class="event-desc">We launch our Free Robotics course for School students</p>
                        </div> <!-- Event Info end -->
                    </div> <!-- Event Box End -->
                    <div class="event-box-wrapper">
                        <div class="event-time">
                            <span class="event-date">01</span>
                            <span class="event-month">Sep</span>
                        </div> <!-- Event Time End -->
                        <div class="event-info">
                            <h5 class="event-name">Data science course launch</h5>
                            <div class="event-location">
                                <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                            </div> <!-- Event Location end -->
                            <p class="event-desc">We launch our Free Data science course for School students</p>
                        </div> <!-- Event Info end -->
                    </div> <!-- Event Box End -->
                </div> <!-- About Event End -->
            </div><!-- Col End -->
        </div> <!-- Row End -->
    </div> <!-- Container end -->
</section>
<!-- what is coding Area End -->
<!-- Intro Area Start -->
<section id="tl-intro" class="tl-intro bg-solid">
    <div class="container">
        <h2 class="column-title wow fadeIn" data-wow-delay=".1s" align="centre">
            Get on your Learning path
        </h2>
        <div class="row no-gutters">
            <div class="col-lg-4 wow zoomIn" data-wow-delay=".1s">
                <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-yellow">
                    <span class="intro-icon">
                        <i class="fa fa-calendar"></i>
                    </span> <!-- Intro Icon End -->
                    <div class="intro-content">
                        <h6 class="intro-title">Visit our Youtube channel</h6>
                        <p>Youtube is the place where we launch and teach our courses. Click here to go to our Youtube channel</p>
                    </div> <!-- Intro Content end -->
                </a> <!-- Intro Wrapper end -->
            </div> <!-- Col End -->
            <div class="col-lg-4 wow zoomIn" data-wow-delay=".3s">
                <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-green">
                    <span class="intro-icon">
                        <i class="fa fa-bell"></i>
                    </span> <!-- Intro Icon End -->
                    <div class="intro-content">
                        <h6 class="intro-title">Choose your course</h6>
                        <p>Choose from a variety of courses on Block programming, Python, Web dev, App dev and Robotics.</p>
                    </div> <!-- Intro Content end -->
                </a> <!-- Intro Wrapper end -->
            </div> <!-- Col End -->
            <div class="col-lg-4 wow zoomIn" data-wow-delay=".5s">
                <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-orange">
                    <span class="intro-icon">
                        <i class="fa fa-weibo"></i>
                    </span> <!-- Intro Icon End -->
                    <div class="intro-content">
                        <h6 class="intro-title">Subscribe and proceed</h6>
                        <p>Just subscribe to our channel and proceed towards learning and accomplishment</p>
                    </div> <!-- Intro Content end -->
                </a> <!-- Intro Wrapper end -->
            </div> <!-- Col End -->
        </div> <!-- Row End -->
    </div> <!-- Container end -->
</section>
<!-- Intro Area End -->
<!-- Course Start -->
<section id="main-container" class="main-container">
    <div id="tl-courses" class="tl-courses">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="column-title">
                        Our Courses
                    </h2>
                </div> <!-- COl End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid service-wrapper">
                        <div class="element-item service-items web-design">
                            <div class="course-img">
                                <img src="<%=asset_path 'course/vp_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                <span class="service-tag"><span class="tag-name">New</span></span>
                            </div> <!-- Course Img end -->
                            <div class="course-details">
                                <a href="/block-programming">
                                    <h6>Block programming course for School students</h6>
                                </a>
                                <p class="course-mentor"><span class="courseMentor">Kashavi & Vasundara</span></p>
                                <p class="course-price coursePrice">FREE</p>
                            </div> <!-- Course details end -->
                        </div><!-- Service Items End -->
                        <div class="element-item service-items ui-design">
                            <div class="course-img">
                                <img src="<%=asset_path 'course/pp_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                <span class="service-tag"><span class="tag-name">New</span></span>
                            </div> <!-- Course Img end -->
                            <div class="course-details">
                                <a href="/python-programming">
                                    <h6>Python programming course for School students</h6>
                                </a>
                                <p class="course-mentor"><span class="courseMentor">Manmohan Gupta & Rahul</span></p>
                                <p class="course-price coursePrice">FREE</p>
                            </div> <!-- Course details end -->
                        </div><!-- Service Items End -->
                        <div class="element-item service-items creative">
                            <div class="course-img">
                                <img src="<%=asset_path 'course/wd_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                            </div> <!-- Course Img end -->
                            <div class="course-details">
                                <a href="webdev-jr.html">
                                    <h6>Web Development Jr course for School students</h6>
                                </a>
                                <p class="course-mentor"><span class="courseMentor">Sanjeet and Mosina</span></p>
                                <p class="course-price coursePrice">FREE</p>
                            </div> <!-- Course details end -->
                        </div><!-- Service Items End -->
                    </div> <!-- Service Wrapper End -->
                </div> <!-- COl end -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </div> <!-- Course end -->
</section>
<!-- Course End -->