<div id="banner-area" class="banner-area" style="background-image: url(<%= asset_path 'banner/banner-img1.jpg' %>)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="banner-title">Our Features</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>features</li>
                    </ol> <!-- Ol End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="banner-img" id="scene" data-relative-input="true">
                <img data-depth="0.5" src="<%= asset_path 'banner-pattern.png'%>" alt="" class="img-fluid" id="banner-pattern">
            </div><!-- Banner Img end -->
        </div> <!-- Container end -->
    </div>
    <!-- Service Area Start -->
    <section id="tl-service" class="tl-service bg-solid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fadeIn">
                        <h2 class="section-title">Benefits of Learning coding</h2>
                        <p class="section-desc">The earlier you start, the better. Know why is there so much hype about learning programming at early stages, that too from Coding Blocks Jr.</p>
                    </div> <!-- Section Header End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".1s">
                    <div class="single-service-box">
                        <div class="service-header color-green">
                            <img src="<%=asset_path 'course/mentor.png'%>" alt="">
                            <h3 class="service-title">Best Mentors</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">Our mentors are Geek level coders & from Top Tech schools like IITs, IIITs, DTU, NSIT & the like</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".3s">
                    <div class="single-service-box">
                        <div class="service-header color-yellow">
                            <img src="<%=asset_path 'course/material.png'%>" alt="">
                            <h3 class="service-title">Superb content</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">We deliver well researched content across all courses, so that you learn the best</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".5s">
                    <div class="single-service-box">
                        <div class="service-header color-orange">
                            <img src="<%=asset_path 'course/free.png'%>"  alt="">
                            <h3 class="service-title">Absolutely FREE</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">This is our dream, we love recognition. Pay us by subscribing to our Youtube channel and liking our sessions</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="gap-30"></div>
            <div class="row">
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".7s">
                    <div class="single-service-box">
                        <div class="service-header color-orange">
                            <img src="<%=asset_path 'course/logical.png'%>"  alt="">
                            <h3 class="service-title">Logical ability</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">Coding will help you develop Logical & analytical abilities, necessary for success at a much early stage</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".9s">
                    <div class="single-service-box">
                        <div class="service-header color-green">
                            <img src="<%=asset_path 'course/abstract.png'%>"  alt="">
                            <h3 class="service-title">Abstract thinking </h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">You need to think smart and creatively in your time. Coding helps you achieve this</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay="1.1s">
                    <div class="single-service-box">
                        <div class="service-header color-yellow">
                            <img src="<%=asset_path 'course/confidence.png'%>"  alt="">
                            <h3 class="service-title">Confidence booster</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">Coding will boost your esteem and confidence & will let you look the world with a new perspective</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- Service Area End -->
    <!-- Features Start -->
    <section id="tl-service" class="tl-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="column-title text-center">
                        New Features coming soon !!
                    </h2>
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature-box-wrapper">
                        <div class="feature-img">
                            <span><img src="<%=asset_path 'feature/certificate.png'%>"  alt="" class="img-fluid"></span>
                        </div> <!-- Feature Image End -->
                        <div class="feature-content">
                            <h5 class="feature-title">Certified courses</h5>
                            <p>All our courses will be certified, meaning we will give Certificate of completion to all successful candidates</p>
                        </div> <!-- Feature Content end -->
                    </div><!-- Feature Box end -->
                </div> <!-- Col End -->
                <div class="col-lg-4">
                    <div class="feature-box-wrapper">
                        <div class="feature-img">
                            <span><img src="<%=asset_path 'feature/app.png'%>"  alt="" class="img-fluid"></span>
                        </div> <!-- Feature Image End -->
                        <div class="feature-content">
                            <h5 class="feature-title">Our Android app</h5>
                            <p>We are launching our Android app, which will ensure learning becomes more handy and offline too</p>
                        </div> <!-- Feature Content end -->
                    </div><!-- Feature Box end -->
                </div> <!-- Col End -->
                <div class="col-lg-4">
                    <div class="feature-box-wrapper">
                        <div class="feature-img">
                            <span><img src="<%=asset_path 'feature/portal.png'%>"  alt="" class="img-fluid"></span>
                        </div> <!-- Feature Image End -->
                        <div class="feature-content">
                            <h5 class="feature-title">Our Learning portal</h5>
                            <p>We are launching our Learning portal, so that students can take their Assignments and do related stuff in the portal</p>
                        </div> <!-- Feature Content end -->
                    </div><!-- Feature Box end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container End -->
    </section>
    <!-- Features End -->