<div id="banner-area" class="banner-area" style="background-image: url(<%= asset_path 'banner/banner-img1.jpg' %>)" data-hover-only="true">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="banner-title">About Us</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>about us</li>
                    </ol> <!-- Ol End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="banner-img" id="scene" data-relative-input="true">
                <img data-depth="0.5" src="<%= asset_path 'banner-pattern.png'%>" alt="" class="img-fluid" id="banner-pattern">
            </div><!-- Banner Img end -->
        </div> <!-- Container end -->
    </div>
    <!-- About Area Start -->
    <section id="tl-about" class="tl-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="column-title wow fadeIn" data-wow-delay=".1s">
                        About <br />Coding Blocks Junior
                    </h2>
                    <div class="about-content">
                        <p class="wow fadeIn">Coding Blocks Jr is a dream, a vision of our founder, Mr Manmohan Gupta that every School student in India should be well versed with Coding. We started Coding Blocks in 2014 but handled a bigger problem at hand, skillifying and guiding College students and working professional into the world of coding. Now, with the right resources and team in hand, we are here with Coding Blocks Jr, a specialised division of <a href="https://www.codingblocks.com">Coding Blocks</a> which focusses on empowering School students with Coding education in multiple streams of technology. Our vision is to make sure all School students are trained into Coding and we want to do this without any fee tags. Yes, all our courses would be <strong>FREE</strong> for everyone and we want all School students to benefit from it.<br><br>If you like our initiative, we would request you to visit our Youtube channel, subscribe to it and give us a like on the Course video you are pursuing.</p>
                        <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="btn btn-outline-primary" style="margin-bottom:30px">Visit our Youtube channel</a>
                        <div class="row">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay=".1s">
                                <div class="about-box about-bg bg-overlay-green">
                                    <h3>Our Courses for School students</h3>
                                    <p>All our courses are free and open to all. We offer Blocks programming, Python and Web dev courses at present. Check out our list</p>
                                    <a href="#" class="btn btn-border">View Courses</a>
                                </div> <!-- About Box end -->
                            </div> <!-- Col End -->
                            <div class="col-lg-6 wow fadeIn" data-wow-delay=".3s">
                                <div class="about-box about-bg bg-overlay-red">
                                    <h3>Are you a School & want us to help?</h3>
                                    <p>We have the expertise & would be excited to help Schools in teaching Coding to students, obviously without any fee tags.</p>
                                    <a href="#" class="btn btn-border">Find Out More</a>
                                </div> <!-- About Box end -->
                            </div> <!-- Col End -->
                        </div> <!-- Row End -->
                    </div> <!-- About Content end -->
                </div> <!-- Col end -->
                <div class="col-lg-4 wow fadeInRight">
                    <div class="about-event">
                        <h2 class="event-title">Upcoming Events</h2>
                        <div class="event-box-wrapper">
                            <div class="event-time">
                                <span class="event-date">1</span>
                                <span class="event-month">Aug</span>
                            </div> <!-- Event Time End -->
                            <div class="event-info">
                                <h5 class="event-name">Web Dev course launch</h5>
                                <div class="event-location">
                                    <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                                </div> <!-- Event Location end -->
                                <p class="event-desc">We launch our Free Web development course for School students</p>
                            </div> <!-- Event Info end -->
                        </div> <!-- Event Box End -->
                        <div class="event-box-wrapper">
                            <div class="event-time">
                                <span class="event-date">22</span>
                                <span class="event-month">Aug</span>
                            </div> <!-- Event Time End -->
                            <div class="event-info">
                                <h5 class="event-name">Robotics course launch</h5>
                                <div class="event-location">
                                    <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                                </div> <!-- Event Location end -->
                                <p class="event-desc">We launch our Free Robotics course for School students</p>
                            </div> <!-- Event Info end -->
                        </div> <!-- Event Box End -->
                        <div class="event-box-wrapper">
                            <div class="event-time">
                                <span class="event-date">01</span>
                                <span class="event-month">Sep</span>
                            </div> <!-- Event Time End -->
                            <div class="event-info">
                                <h5 class="event-name">Data science course launch</h5>
                                <div class="event-location">
                                    <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                                </div> <!-- Event Location end -->
                                <p class="event-desc">We launch our Free Data science course for School students</p>
                            </div> <!-- Event Info end -->
                        </div> <!-- Event Box End -->
                    </div> <!-- About Event End -->
                </div><!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- About Area End -->
    <!-- Video Area Start -->
    <!--section id="tl-video-area" class="tl-video-area video-bg bg-overlay">
   <div class="container">
   <div class="row">
      <div class="col-lg-12">
         <div class="video-area-wrapper">
            <a href="https://youtu.be/kIHqyma_r8o" class="video-icon video-play-btn">
               <i class="fa fa-play"></i>
            </a>
            <h5 class="video-title">Watch Our Intro video</h5>
         </div> 
      </div> 
   </div> 
</div> </section!-->
    <!-- Video Area End -->
    <!-- Team Start Start -->
    <section id="tl-team" class="tl-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="column-title">Our Team</h2><!-- Column Title end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-carousel owl-carousel">
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Manmohan Gupta</h5>
                                <span>Founder</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/manmohan.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Varun Kohli</h5>
                                <span>Founding Member</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/varun.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Prateek Narang</h5>
                                <span>Founding Member</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/prateek.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Arnav Gupta</h5>
                                <span>Founding Member</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/arnav.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Kartik Mathur</h5>
                                <span>Academics Head</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/kartik.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Rahul Janghu</h5>
                                <span>Mentor</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/rahul.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Kashavi</h5>
                                <span>Mentor</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/kashavi.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Vasundhara</h5>
                                <span>Mentor</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/vasundhara.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Sanjeet</h5>
                                <span>Mentor</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/sanjeet.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Nalin Luthra</h5>
                                <span>Mentor</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/nalin.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Mosina Ashraf</h5>
                                <span>Mentor</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/mosina.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Manu Pillai</h5>
                                <span>Mentor</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/manu.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                        <div class="team-single-box">
                            <div class="team-header">
                                <h5 class="person-name">Monu Kumar</h5>
                                <span>Mentor</span>
                            </div> <!-- team header end -->
                            <div class="team-img">
                                <img src="<%=asset_path 'team/monu.png'%>"  alt="" class="img-fluid">
                            </div> <!-- Team img end -->
                        </div> <!-- Team Box end -->
                    </div> <!-- Team carousel end -->
                </div> <!-- Col end -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- Team Start End -->
    <!-- FunFact Area Start -->
    <section id="tl-funfact" class="tl-funfact bg-overlay-green">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fadeIn">
                        <h2 class="section-title">Where we stand</h2>
                        <p class="section-desc">Some of our achievements in terms of number of students subscribed to our platform or number of Course completion certificates we have issued till date.</p>
                    </div> <!-- Section Header End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".1s">
                    <div class="single-counter-box">
                        <span class="counter-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="counter-content">
                            <span class="counter-up">3</span>+ K
                            <h3 class="counter-title">Students subscribed</h3>
                        </div> <!-- Counter Content end -->
                    </div> <!-- Single Counter Box end -->
                </div> <!-- Col End -->
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-counter-box">
                        <span class="counter-icon">
                            <i class="fa fa-smile-o"></i>
                        </span>
                        <div class="counter-content">
                            <span class="counter-up">100</span>%
                            <h3 class="counter-title">Satisfied Parents</h3>
                        </div> <!-- Counter Content end -->
                    </div> <!-- Single Counter Box end -->
                </div> <!-- Col End -->
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-counter-box">
                        <span class="counter-icon">
                            <i class="fa fa-trophy"></i>
                        </span>
                        <div class="counter-content">
                            <span class="counter-up">591</span>
                            <h3 class="counter-title">Certificates issued</h3>
                        </div> <!-- Counter Content end -->
                    </div> <!-- Single Counter Box end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- FunFact Area End -->
    <!-- Intro Area Start -->
    <section id="tl-intro" class="tl-intro bg-solid">
        <div class="container">
            <h2 class="column-title wow fadeIn" data-wow-delay=".1s" align="centre">
                Get on your Learning path
            </h2>
            <div class="row no-gutters">
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".1s">
                    <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-yellow">
                        <span class="intro-icon">
                            <i class="fa fa-calendar"></i>
                        </span> <!-- Intro Icon End -->
                        <div class="intro-content">
                            <h6 class="intro-title">Visit our Youtube channel</h6>
                            <p>Youtube is the place where we launch and teach our courses. Click here to go to our Youtube channel</p>
                        </div> <!-- Intro Content end -->
                    </a> <!-- Intro Wrapper end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".3s">
                    <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-green">
                        <span class="intro-icon">
                            <i class="fa fa-bell"></i>
                        </span> <!-- Intro Icon End -->
                        <div class="intro-content">
                            <h6 class="intro-title">Choose your course</h6>
                            <p>Choose from a variety of courses on Block programming, Python, Web dev, App dev and Robotics.</p>
                        </div> <!-- Intro Content end -->
                    </a> <!-- Intro Wrapper end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".5s">
                    <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-orange">
                        <span class="intro-icon">
                            <i class="fa fa-weibo
"></i>
                        </span> <!-- Intro Icon End -->
                        <div class="intro-content">
                            <h6 class="intro-title">Subscribe and proceed</h6>
                            <p>Just subscribe to our channel and proceed towards learning and accomplishment</p>
                        </div> <!-- Intro Content end -->
                    </a> <!-- Intro Wrapper end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- Intro Area End -->
    <!-- Testimonial Start -->
    <section id="tl-testimonial-classic" class="tl-testimonial-classic padding-bottom0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h2 class="column-title">Testimonials</h2><!-- Column Title end -->
                </div><!--  Col end -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-classic-carousel owl-carousel">
                        <div class="testimonial-content-wrapper">
                            <div class="testiomonial-content">
                                <p class="client-msg">“ My daughter is in Grade 2 and we started attending the Block programming classes. I am very satisfied with the way she is progressing. She has started making games on her own in SpriteLab. I would like to congratulate the Coding Blocks Jr team and wish you guys success ”</p>
                            </div> <!-- Testimonial content end -->
                            <div class="testimonial-footer">
                                <span class="testimonial-img"><img src="<%=asset_path 'testimonial/client-img1.jpg'%>"  alt=""></span>
                                <h4 class="client-name">Surbhi Thareja <span>- Working Mom</span></h4>
                            </div> <!-- Testimonial Footer End -->
                        </div> <!-- Testimonial wrapper end -->
                        <div class="testimonial-content-wrapper">
                            <div class="testiomonial-content">
                                <p class="client-msg">“ At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate ”</p>
                            </div> <!-- Testimonial content end -->
                            <div class="testimonial-footer">
                                <span class="testimonial-img"><img src="<%=asset_path 'testimonial/client-img1.jpg'%>" alt=""></span>
                                <h4 class="client-name">H.K Drivo <span>- Web Designer</span></h4>
                            </div> <!-- Testimonial Footer End -->
                        </div> <!-- Testimonial wrapper end -->
                    </div> <!-- Testimonial Carousel End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end --><br><br>
    </section>
    <!-- Testimonial End -->