 <!-- Carousel Start -->
    <div id="tl-slider" class="tl-slider">
        <div class="tl-slider-carousel owl-carousel">
            <div class="tl-slider-wrapper" style="background-image: url(<%= asset_path('slider/slider-bg1.jpg')%>;" id="main-slider-image">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="slider-content">
                                    <h1 class="slider-title"><br><br><br></h1>
                                    <p class="slider-text remove">
                                        <br><br><br>
                                    </p> <!-- Slider text end -->
                                    <div class="slider-btn">
                                        <a href="/course-all"class="btn btn-primary btn-lg">Get started</a>
                                        <!-- <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="btn btn-border">Visit us on Youtube</a> -->
                                    </div> <!-- Slider btn end -->
                                </div> <!-- Slider Content end -->
                            </div> <!-- COl End -->
                        </div> <!-- Row End -->
                        <div class="slider-img">
                            <span></span>
                        </div> <!-- Slider img end -->
                    </div> <!-- Container end -->
                </div> <!-- Slider Inner end -->
            </div> <!-- Slider Wrapper end -->
        </div> <!-- Slider Carousel end -->
    </div>
    <!-- Carousel End -->
    <!-- Intro Area Start -->
    <section id="tl-intro" class="tl-intro bg-solid">
        <div class="container">
            <h2 class="column-title wow fadeIn" data-wow-delay=".1s" align="centre">
                Get on your Learning path
            </h2>
            <div class="row no-gutters">
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".1s">
                    <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-yellow">
                        <span class="intro-icon">
                            <i class="fa fa-calendar"></i>
                        </span> <!-- Intro Icon End -->
                        <div class="intro-content">
                            <h6 class="intro-title">Visit our Youtube channel</h6>
                            <p>Youtube is the place where we launch and teach our courses. Click here to go to our Youtube channel</p>
                        </div> <!-- Intro Content end -->
                    </a> <!-- Intro Wrapper end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".3s">
                    <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-green">
                        <span class="intro-icon">
                            <i class="fa fa-bell"></i>
                        </span> <!-- Intro Icon End -->
                        <div class="intro-content">
                            <h6 class="intro-title">Choose your course</h6>
                            <p>Choose from a variety of courses on Block programming, Python, Web dev, App dev and Robotics.</p>
                        </div> <!-- Intro Content end -->
                    </a> <!-- Intro Wrapper end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".5s">
                    <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="tl-intro-wrapper bg-orange">
                        <span class="intro-icon">
                            <i class="fa fa-weibo
"></i>
                        </span> <!-- Intro Icon End -->
                        <div class="intro-content">
                            <h6 class="intro-title">Subscribe and proceed</h6>
                            <p>Just subscribe to our channel and proceed towards learning and accomplishment</p>
                        </div> <!-- Intro Content end -->
                    </a> <!-- Intro Wrapper end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- Intro Area End -->
    <!-- About Area Start -->
    <section id="tl-about" class="tl-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="column-title wow fadeIn" data-wow-delay=".1s">
                        Welcome to <br />Coding Blocks Junior
                    </h2>
                    <div class="about-content">
                        <p class="wow fadeIn">We are Coding Blocks Jr, a specialised division of <a href="https://www.codingblocks.com">Coding Blocks</a> which focusses on empowering School students with Coding education in multiple streams of technology. Our vision is to make sure all School students are trained into Coding and we want to do this without any fee tags. Yes, all our courses would be <strong>FREE</strong> for everyone and we want all School students to benefit from it.<br><br>If you like our initiative, we would request you to visit our Youtube channel, subscribe to it and give us a like on the Course video you are pursuing.</p>
                        <a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA" class="btn btn-outline-primary" style="margin-bottom:30px">Visit our Youtube channel</a>
                        <div class="row">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay=".1s">
                                <div class="about-box about-bg bg-overlay-green">
                                    <h3>Our Courses for School students</h3>
                                    <p>All our courses are free and open to all. We offer Blocks programming, Python and Web dev courses at present. Check out our list</p>
                                    <a href="/course-all"class="btn btn-border">View Courses</a>
                                </div> <!-- About Box end -->
                            </div> <!-- Col End -->
                            <div class="col-lg-6 wow fadeIn" data-wow-delay=".3s">
                                <div class="about-box about-bg bg-overlay-red">
                                    <h3>Are you a School & want us to help?</h3>
                                    <p>We have the expertise & would be excited to help Schools in teaching Coding to students, obviously without any fee tags.</p>
                                    <a href="/faq" class="btn btn-border">Find Out More</a>
                                </div> <!-- About Box end -->
                            </div> <!-- Col End -->
                        </div> <!-- Row End -->
                    </div> <!-- About Content end -->
                </div> <!-- Col end -->
                <div class="col-lg-4 wow fadeInRight">
                    <div class="about-event">
                        <h2 class="event-title">Upcoming Events</h2>
                        <div class="event-box-wrapper">
                            <div class="event-time">
                                <span class="event-date">1</span>
                                <span class="event-month">Aug</span>
                            </div> <!-- Event Time End -->
                            <div class="event-info">
                                <h5 class="event-name">Web Dev course launch</h5>
                                <div class="event-location">
                                    <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                                </div> <!-- Event Location end -->
                                <p class="event-desc">We launch our Free Web development course for School students</p>
                            </div> <!-- Event Info end -->
                        </div> <!-- Event Box End -->
                        <div class="event-box-wrapper">
                            <div class="event-time">
                                <span class="event-date">22</span>
                                <span class="event-month">Aug</span>
                            </div> <!-- Event Time End -->
                            <div class="event-info">
                                <h5 class="event-name">Robotics course launch</h5>
                                <div class="event-location">
                                    <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                                </div> <!-- Event Location end -->
                                <p class="event-desc">We launch our Free Robotics course for School students</p>
                            </div> <!-- Event Info end -->
                        </div> <!-- Event Box End -->
                        <div class="event-box-wrapper">
                            <div class="event-time">
                                <span class="event-date">01</span>
                                <span class="event-month">Sep</span>
                            </div> <!-- Event Time End -->
                            <div class="event-info">
                                <h5 class="event-name">Data science course launch</h5>
                                <div class="event-location">
                                    <span class="event-tiem-info"><i class="fa fa-clock-o"></i>8:00 PM - 9:00 PM</span>
                                </div> <!-- Event Location end -->
                                <p class="event-desc">We launch our Free Data science course for School students</p>
                            </div> <!-- Event Info end -->
                        </div> <!-- Event Box End -->
                    </div> <!-- About Event End -->
                </div><!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- About Area End -->
    <!-- Service Area Start -->
    <section id="tl-service" class="tl-service bg-solid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fadeIn">
                        <h2 class="section-title">Benefits of Learning coding</h2>
                        <p class="section-desc">The earlier you start, the better. Know why is there so much hype about learning programming at early stages, that too from Coding Blocks Jr.</p>
                    </div> <!-- Section Header End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".1s">
                    <div class="single-service-box">
                        <div class="service-header color-green">
                            <img src="<%=asset_path 'course/mentor.png'%>" alt="">
                            <h3 class="service-title">Best Mentors</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">Our mentors are Geek level coders & from Top Tech schools like IITs, IIITs, DTU, NSIT & the like</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".3s">
                    <div class="single-service-box">
                        <div class="service-header color-yellow">
                            <img src="<%=asset_path 'course/material.png'%>" alt="">
                            <h3 class="service-title">Superb content</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">We deliver well researched content across all courses, so that you learn the best</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".5s">
                    <div class="single-service-box">
                        <div class="service-header color-orange">
                            <img src="<%=asset_path 'course/material.png'%>" alt="">
                            <h3 class="service-title">Absolutely FREE</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">This is our dream, we love recognition. Pay us by subscribing to our Youtube channel and liking our sessions</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="gap-30"></div>
            <div class="row">
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".7s">
                    <div class="single-service-box">
                        <div class="service-header color-orange">
                            <img src="<%=asset_path 'course/logical.png'%>"  alt="">
                            <h3 class="service-title">Logical ability</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">Coding will help you develop Logical & analytical abilities, necessary for success at a much early stage</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay=".9s">
                    <div class="single-service-box">
                        <div class="service-header color-green">
                            <img src="<%=asset_path 'course/abstract.png'%>"  alt="">
                            <h3 class="service-title">Abstract thinking </h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">You need to think smart and creatively in your time. Coding helps you achieve this</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
                <div class="col-lg-4 wow zoomIn" data-wow-delay="1.1s">
                    <div class="single-service-box">
                        <div class="service-header color-yellow">
                            <img src="<%=asset_path 'course/confidence.png'%>"  alt="">
                            <h3 class="service-title">Confidence booster</h3>
                        </div> <!-- Service Header end -->
                        <p class="service-desc">Coding will boost your esteem and confidence & will let you look the world with a new perspective</p>
                    </div> <!-- Single Service end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- Service Area End -->
    <!-- FunFact Area Start -->
    <section id="tl-funfact" class="tl-funfact bg-overlay-green">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fadeIn">
                        <h2 class="section-title">Where we stand</h2>
                        <p class="section-desc">Some of our achievements in terms of number of students subscribed to our platform or number of Course completion certificates we have issued till date.</p>
                    </div> <!-- Section Header End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".1s">
                    <div class="single-counter-box">
                        <span class="counter-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="counter-content">
                            <span class="counter-up">3</span>+ K
                            <h3 class="counter-title">Students subscribed</h3>
                        </div> <!-- Counter Content end -->
                    </div> <!-- Single Counter Box end -->
                </div> <!-- Col End -->
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-counter-box">
                        <span class="counter-icon">
                            <i class="fa fa-smile-o"></i>
                        </span>
                        <div class="counter-content">
                            <span class="counter-up">100</span>%
                            <h3 class="counter-title">Satisfied Parents</h3>
                        </div> <!-- Counter Content end -->
                    </div> <!-- Single Counter Box end -->
                </div> <!-- Col End -->
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-counter-box">
                        <span class="counter-icon">
                            <i class="fa fa-trophy"></i>
                        </span>
                        <div class="counter-content">
                            <span class="counter-up">591</span>
                            <h3 class="counter-title">Certificates issued</h3>
                        </div> <!-- Counter Content end -->
                    </div> <!-- Single Counter Box end -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- FunFact Area End -->
    <!-- Testimonial Area Start -->
    <section id="tl-testimonial" class="tl-testimonial bg-solid">
        <div class="testimonial-bg">
            <img src="<%=asset_path 'testimonial/testimonial-bg.png'%>" alt="">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fadeIn">
                        <h2 class="section-title">What are Parents saying about us</h2>
                    </div> <!-- Section Header End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="row">
                <div class="col-lg-10 wow fadeIn">
                    <div class="testimonail-single-slider owl-carousel">
                        <div class="testimonial-content-wrapper">
                            <span class="testimonial-img"><img src="<%=asset_path 'testimonial/client-img1.jpg'%>" alt=""></span>
                            <div class="testiomonial-content">
                                <h4 class="client-name">Surbhi Thareja</h4>
                                <p class="client-msg">My daughter is in Grade 2 and we started attending the Block programming classes. I am very satisfied with the way she is progressing. She has started making games on her own in SpriteLab. I would like to congratulate the Coding Blocks Jr team and wish you guys success</p>
                            </div> <!-- Testimonial content end -->
                        </div> <!-- Testimonial wrapper end -->
                    </div> <!-- Testimonial slide End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </section>
    <!-- Testimonial Area End -->