<div id="banner-area" class="banner-area" style="background-image: url(<%= asset_path 'banner/banner-img1.jpg' %>)" class="make-responsive-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="banner-title mt-0">All Course</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Courses</li>
                    </ol> <!-- Ol End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="banner-img" id="scene" data-relative-input="true">
                <img data-depth="0.5" src="<%= asset_path 'banner-pattern.png'%>" alt="" class="img-fluid" id="banner-pattern">
            </div><!-- Banner Img end -->
        </div> <!-- Container end -->
    </div>
    <!-- Course Carousel Start -->
    <section id="tl-course-carousel">
        <div id="courses-carousel" class="courses-carousel">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="column-title mt-0">All Courses</h2>
                    </div> <!-- Col End -->
                </div> <!-- Row End -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="service-carousel owl-carousel">
                            <div class="service-wrapper">
                                <div class="service-items">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/vp_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="/block-programming">
                                            <h6 class="course-title">Block programming course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Vasundhara & Kashavi</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                            <div class="service-wrapper">
                                <div class="service-items">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/pp_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="/python-programming">
                                            <h6 class="course-title" style="border-radius: 10px;">Python programming course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Manmohan Gupta & Rahul Janghu</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                            <div class="service-wrapper">
                                <div class="service-items">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/wd_course.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="webdev-jr.html">
                                            <h6 class="course-title">Web Development Jr course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Sanjeet & Mosina</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                            <div class="service-wrapper">
                                <div class="service-items">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/robotics.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="#" class="prevent-scroll">
                                            <h6 class="course-title">Robotics course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Manmohan Gupta & Nalin Luthra</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                        </div> <!-- Service Carousel End -->
                    </div> <!-- COl end -->
                </div> <!-- Row End -->
            </div> <!-- Container end -->
        </div> <!-- Course end -->
    </section>
    <!-- Course Carousel End -->
    <!-- Course Carousel Start -->
    <section id="tl-course-carousel" class="tl-course-carousel carousel-bg">
        <div id="courses-carousel" class="courses-carousel">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="column-title text-white">Upcoming Courses</h2>
                    </div> <!-- Col End -->
                </div> <!-- Row End -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="service-carousel owl-carousel">
                            <div class="service-wrapper">
                                <div class="service-items text-white">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/datasc.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="#" class="prevent-scroll">
                                            <h6 class="course-title">Data science course for School students</h6>
                                        </a>
                                        <p class="course-mentor" class="prevent-scroll">Manmohan Gupta</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                            <div class="service-wrapper">
                                <div class="service-items text-white">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/appdev.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="#" class="prevent-scroll">
                                            <h6 class="course-title">App development course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Kartik Sapra</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                            <div class="service-wrapper">
                                <div class="service-items text-white">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/webdevsr.png'%>" alt="" class="img-fluid" style="border-radius: 10px;">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="#" class="prevent-scroll">
                                            <h6 class="course-title">Web Development Sr course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Kartik Mathur</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                        </div> <!-- Service Carousel End -->
                    </div> <!-- COl end -->
                </div> <!-- Row End -->
            </div> <!-- Container end -->
        </div> <!-- Course end -->
    </section>
    <!-- Course Carousel End -->