<div id="banner-area" class="banner-area" style="background-image: url(<%= asset_path 'banner/banner-img1.jpg' %>)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="banner-title">Web Development Junior</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Courses</li>
                    </ol> <!-- Ol End -->
                </div> <!-- Col End -->
            </div> <!-- Row End -->
            <div class="banner-img" id="scene" data-relative-input="true">
                <img data-depth="0.5" src="<%= asset_path 'banner-pattern.png'%>" alt="" class="img-fluid" id="banner-pattern">
            </div><!-- Banner Img end -->
        </div> <!-- Container end -->
    </div>
    <!-- Course Start -->
    <section id="main-container" class="main-container padding-bottom0">
        <div id="tl-course-single" class="tl-course-single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-course-contianer">
                            <div class="course-img">
                                <span><img src="<%=asset_path 'course/web.png'%>" alt="" class="img-fluid"></span>
                                <div class="course-header">
                                    <div class="course-heading clearfix">
                                        <h2 class="course-title">Web Development Junior</h2>
                                        <div class="single-course-price">
                                            <span>Price</span>
                                            <h3>FREE</h3>
                                        </div> <!-- Course price end -->
                                    </div> <!-- Course heading end -->
                                    <ul class="single-course-meta list-inline unstyled">
                                        <li>
                                            <div class="course-teacher">
                                                <img src="<%=asset_path 'course/web-f.png'%>" alt="" class="img-fluid">
                                                <div class="course-teacher-name">
                                                    <span>Grade</span>
                                                    <p> 6 - 10 </p>
                                                </div>
                                            </div>
                                        </li> <!-- List end -->
                                        <li>
                                            <div class="course-category">
                                                <span>Mentors</span>
                                                <p>Sanjeet and Mosina</p>
                                            </div>
                                        </li> <!-- List end -->
                                    </ul> <!-- Single COurse meta end -->
                                </div> <!-- Course header end -->
                            </div> <!-- Course Img end -->
                            <div class="course-body">
                                <h3 class="course-body-title">Introduction</h3>
                                <p>Want to build your own website? It’s no secret that one of the best skills you can acquire today is Web Development. Even just the basics can open new doors of learning and opportunity for your career.<br><br>
                                    Instead of watching Netflix or hanging out with your buddies, just dedicating 60 minutes two times a week to learning web development consistently could easily allow you to gain the knowledge you need.<br><br>
                                    If you’re wondering whether it’s possible to learn web development basics which includes HTML, CSS, Bootstrap, JavaScript, and more from home for free, the answer is yes! <br><br>
                                    Coding Blocks Junior, an initiative of Coding Blocks is announcing the launch of Web Development Junior course for School Students. The course is absolutely free of cost and can be opted by just subscribing to the Coding Blocks Junior YouTube channel.<br><br>
                                    What's more? You will also be provided with a Certificate of Completion upon successful completion of the course.</p>
                                <ol class="course-level">
                                    <li class="color-green">Schedule
                                        <ul class="course-level-details">
                                            <li>Sessions on Wed and Fri | 8 - 9 PM
                                            <li>Assignment discussion, tutorial and project classes in the week
                                        </ul> <!-- course details end -->
                                    </li> <!-- list end -->
                                    <li class="color-yellow">Syllabus
                                        <ul class="course-level-details">
                                            <li>Detailed syllabus of the course <a href="#" class="prevent-scroll">click to download</a> <span class="bg-yellow">PDF</span></li>
                                        </ul> <!-- course details end -->
                                    </li> <!-- list end -->
                                </ol> <!-- Course level end -->
                                <div class="course-btn">
                                    <div id="channel-buttons">
                                        <a href="https://www.youtube.com/playlist?list=PLhLbJ9UoJCvtQLpRzHQYtFPxXjELOrSaB" class="btn btn-success btn-secondary btn-sm" target="_blank">Visit our Youtube channel</a>
                                        <a href="https://discord.gg/aNY68Zc" class="btn btn-primary btn-sm" target="_blank" id="discord-button">Join Our discord Channel</a><br><br>
                                        <a href="https://t.me/CodingBlocksJunior" class="btn btn-success btn-secondary btn-sm" target="_blank">Join Our Telegram Channel</a>
                                    </div>
                                </div>
                            </div> <!-- Course Body end -->
                        </div> <!-- Course COntainer end -->
                    </div> <!-- Col End -->
                    <div class="col-lg-4">
                        <div class="sidebar sidebar-right">
                            <div class="widget widget-category">
                                <h3 class="widget-title">Other Courses</h3>
                                <ul class="widget-tabs-nav">
                                    <li>
                                        <a href="/block-programming">Block programming - Grade 2 - 6</a>
                                    </li>
                                    <li>
                                        <a href="/python-programming">Python coding - Grade 6 - 10</a>
                                    </li>
                                    <li>
                                        <a href="#" class="prevent-scroll">Robotics - Grade 2 - 6</a>
                                    </li>
                                    <li>
                                        <a href="#" class="prevent-scroll">Data Science - Grade 2 - 6</a>
                                    </li>
                                    <li>
                                        <a href="#" class="prevent-scroll">App dev - Grade 4 - 10</a>
                                    </li>
                                    <li>
                                        <a href="#" class="prevent-scroll">Web Dev Sr - Grade 8 - 12</a>
                                    </li>
                                </ul> <!-- Widget Tabs Nav End -->
                            </div> <!-- Widget Category End -->
                            <div class="widget widget-duration">
                                <h3 class="widget-title">CB Jr Youtube</h3>
                                <ul class="widget-course-list">
                                    <li><i class="fa fa-arrow-right"></i><a href="https://www.youtube.com/playlist?list=PLhLbJ9UoJCvsCXqP9yAOZpzXHhWkLBXdw">Click to visit CB Jr Youtube channel</a></li>
                                    <li>Live classes of our courses are conducted on CB Jr Youtube channel. Please subscribe to our channel for this course.</li>
                                </ul> <!-- Course List End -->
                            </div> <!-- Widget Duration End -->
                            <div class="widget widget-duration">
                                <h3 class="widget-title">CB Jr Discord</h3>
                                <ul class="widget-course-list">
                                    <li><i class="fa fa-arrow-right"></i><a href="https://discord.gg/aNY68Zc">Click to join our Discord channel</a></li>
                                    <li>Get your doubts clarified related to courses on our Discord Channel from the mentors.</li>
                                </ul> <!-- Course List End -->
                            </div> <!-- Widget Duration End -->
                            <div class="widget widget-duration">
                                <h3 class="widget-title">CB Jr Telegram</h3>
                                <ul class="widget-course-list">
                                    <li><i class="fa fa-arrow-right"></i><a href="https://t.me/CodingBlocksJunior">Click to join our Telegram channel</a></li>
                                    <li>To get updated about CB Jr and for general queries join our Telegram Channel.</li>
                                </ul> <!-- Course List End -->
                            </div> <!-- Widget Duration End -->
                        </div> <!-- Sidebar Right end -->
                    </div> <!-- Col End -->
                </div> <!-- Row End -->
            </div> <!-- Container End -->
        </div> <!-- Mews Left End -->
    </section>
    <!-- Course End -->
    <!-- Course Carousel Start -->
    <section id="tl-course-carousel">
        <div id="courses-carousel" class="courses-carousel">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Upcoming Courses</h2> <br><br>
                    </div> <!-- Col End -->
                </div> <!-- Row End -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="service-carousel owl-carousel">
                            <div class="service-wrapper">
                                <div class="service-items text-white">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/robotics.png'%>" alt="" class="img-fluid">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="#">
                                            <h6>Robotics course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Nalin Luthra</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                            <div class="service-wrapper">
                                <div class="service-items text-white">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/datasc.png'%>" alt="" class="img-fluid">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="#">
                                            <h6>Data science course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Manmohan Gupta</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                            <div class="service-wrapper">
                                <div class="service-items text-white">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/appdev.png'%>" alt="" class="img-fluid">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="#">
                                            <h6>App development course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Kartik Sapra</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                            <div class="service-wrapper">
                                <div class="service-items text-white">
                                    <div class="course-img">
                                        <img src="<%=asset_path 'course/webdevsr.png'%>" alt="" class="img-fluid">
                                    </div> <!-- Course Img end -->
                                    <div class="course-details">
                                        <a href="#">
                                            <h6>Web Development Sr course for School students</h6>
                                        </a>
                                        <p class="course-mentor">Kartik Mathur</p>
                                        <p class="course-price">Free</p>
                                    </div> <!-- Course details end -->
                                </div><!-- Service Items End -->
                            </div> <!-- Service Wrapper End -->
                        </div> <!-- Service Carousel End -->
                    </div> <!-- COl end -->
                </div> <!-- Row End -->
            </div> <!-- Container end -->
        </div> <!-- Course end -->
    </section>
    <!-- Course Carousel End -->