 <!-- Footer Area Start -->
    <footer id="tl-footer" class="tl-footer">
        <div id="tl-footer-main" class="tl-footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-logo">
                            <a href="#"><img src="<%=asset_path 'logos/logo-white.png'%>"alt=""></a>
                            <p>Free Coding classes for School students in Grades 2 - 12</p>
                        </div> <!-- Footer logo end -->
                        <div class="footer-contact-details">
                            <ul class="unstyled">
                                <li><strong>Phone :</strong> (+91) 99995 79333</li>
                                <li><strong>Email :</strong> jr@codingblocks.com</li>
                                <li><strong>Add :</strong> 47, Kohat Encl, Delhi</li>
                            </ul> <!-- List end -->
                        </div> <!-- Footer contact details end -->
                        <div class="footer-scoial-links">
                            <ul class="unstyled list-inline">
                                <li><a href="https://instagram.com/codingblocksjr" target="_blank"><i class="fa fa-instagram" style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);"></i></a></li>
                                <li><a href="https://www.facebook.com/codingblocksjr" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/CodingBlocksJr" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://t.me/CodingBlocksJr" target="_blank"><i class="fa fa-telegram" style="background-color:#0088CC;"></i></a></li>
                                <li><a href="https://discord.gg/aNY68Zc" target="_blank"><img src="<%=asset_path 'icon/discord-icon.png'%>" id="discord-image"></a></li>
                            </ul> <!-- list end -->
                        </div> <!-- footer social end -->
                    </div> <!-- COl end -->
                    <div class="col-lg-3 col-md-6">
                        <h3 class="main-footer-title">Short Links</h3>
                        <div class="bottom-menu menu-half">
                            <ul class="unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/course-all">Courses</a></li>
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/faq">FAQs</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul> <!-- list end -->
                            <ul class="unstyled">
                                <li><a href="https://www.codingblocks.com">CB Website</a></li>
                                <li><a href="https://online.codingblocks.com">CB Online</a></li>
                                <li><a href="https://www.youtube.com/channel/UC8lf0KIoz_PMaYCDx4q0pDA">Youtube</a></li>
                                <li><a href="#" class="prevent-scroll">Learning portal</a></li>
                                <li><a href="#" class="prevent-scroll">Android app</a></li>
                            </ul> <!-- list end -->
                        </div> <!-- Bottom menu end -->
                    </div> <!-- COl end -->
                    <div class="col-lg-3 col-md-6">
                        <h3 class="main-footer-title">Upcoming courses</h3>
                        <div class="bottom-menu">
                            <ul class="unstyled border-bottom-dashed">
                                <li><a href="#" class="prevent-scroll">Robotics</a></li>
                                <li><a href="#" class="prevent-scroll">Data science for School students</a></li>
                                <li><a href="#" class="prevent-scroll">Web Dev Sr course</a></li>
                                <li><a href="#" class="prevent-scroll">App Dev course</a></li>
                            </ul> <!-- list end -->
                        </div> <!-- bottom menu end -->
                    </div> <!-- col end -->
                    <div class="col-lg-3 col-md-6">
                        <h3 class="main-footer-title" id="main-footer-title">Recent Courses</h3>
                        <div class="course-container">
                            <ul class="unstyled course-list">
                                <li>
                                    <a href="/block-programming">
                                        <img src="<%=asset_path 'course/blocks-f.png'%>" alt="" class="img-fluid">
                                        <h6>Block programming course for School students</h6>
                                    </a>
                                </li> <!-- li end -->
                                <li>
                                    <a href="/python-programming">
                                        <img src="<%=asset_path 'course/python-f.png'%>" alt="" class="img-fluid">
                                        <h6>Python coding course for School students</h6>
                                    </a>
                                </li> <!-- li end -->
                                <li>
                                    <a href="webdev-jr.html">
                                        <img src="<%=asset_path 'course/web-f.png'%>" alt="" class="img-fluid">
                                        <h6>Web Development for juniors</h6>
                                    </a>
                                </li> <!-- li end -->
                            </ul> <!-- list end -->
                        </div> <!-- course container end -->
                    </div> <!-- col end -->
                </div> <!-- Row End -->
            </div> <!-- Container end -->
        </div><!-- Footer Mian end -->
    </footer>
    <!-- Footer Area End -->
    <!-- Copyright Area Start -->
    <footer id="tl-copyright" class="tl-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <p class="copyright-text">&copy; 2020 Coding Blocks Junior</p>
                </div> <!-- Col End -->
                <div class="col-lg-3 ml-lg-auto text-lg-right">
                </div> <!-- Col End -->
            </div> <!-- Row End -->
        </div> <!-- Container end -->
    </footer>
    <!-- Copyright Area End -->